<!DOCTYPE html>
<html>
    <head>
        <title>Transfer File</title>
    </head>
    <body>
        <form action="/uploads" method="POST" 
            enctype="multipart/form-data">
            <input type="file" name="file" multiple="true"/>
            <input type="submit" value="Submit"/>
        </form>
        <p>
            {% if filenames %}
                <ul>
                {% for filename in filenames %}
                    <li>{{ filename }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No files chosen</p>
            {% endif %}
        </p>
    </body>
</html>
